<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- appServlet라는 이름으로 org.springframework.web.servlet.DispatcherServlet 객체를 등록 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- "/" 경로로 요청이 오면 appServlet라는 이름의 서블릿을 실행 -->
	<!-- "/" 경로는 디폴트서블릿을 지정하는 특별한 경로로서, 요청을 처리할 서블릿을 찾지 못할 때 실행될 서블릿을 지정하는 경로 -->
	<!-- 즉, 모든 요청을 appServlet(스프링의 DispatcherServlet)이 처리한다는 의미 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
<!-- 	모든 요청 경로(/*)에 대해서 서블릿이 실행되기 전에 먼저 실행되는 필터로  -->
<!-- 	POST방식으로 전달되는 파라미터 값의 인코딩을 설정(request.setCharacterEncoding()) -->
	<filter> 
    <filter-name>encodingFilter</filter-name> 
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
    <init-param> 
       <param-name>encoding</param-name> 
       <param-value>UTF-8</param-value> 
    </init-param> 
    <init-param> 
<!--         응답의 문자 인코딩도 동일하게 설정하고 싶은 경우forceEncoding값을 true로 설정  -->
       <param-name>forceEncoding</param-name> 
       <param-value>true</param-value>  
<!--        응답도 utf8로하겠다. -->
    </init-param> 
 </filter> 
 <filter-mapping> 
    <filter-name>encodingFilter</filter-name> 
    <url-pattern>/*</url-pattern> 
 </filter-mapping> 

</web-app>
